  .card-columns {
    column-count: 1;
  }

  .assigned-role {
    color: darkred;
    font-weight: bolder;
  }

  .current-task {
    color: darkblue;
  }

/* Add this CSS code to your stylesheet */
    /* Navigation Bar */
    .navbar {
      background-color: #13213D;
      padding: 10px 0;
      justify-content: space-between;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    .logo img {
      width: 50px; /* Adjust the logo image width as needed */
      height: auto; /* Maintain the aspect ratio */
    }

    .navbar-nav {
      display: flex;
      flex-wrap: wrap; /* Allow links to wrap to the next line */
      align-items: center;
    }

    .navbar-nav .nav-item {
      margin-right: 20px; /* Add spacing between the links */
    }

    .navbar-toggler {
      display: none; /* Hide the toggler button to keep the links always visible */
    }

    /* Style the navigation links */
    .navbar-nav .nav-link {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }

    .navbar-nav .nav-link:hover {
      color: #FFA500; /* Change the color on hover */
    }

