`
.card-columns {
    column-count: 1;
  }

  .assigned-role {
    color: darkred;
    font-weight: bolder;
  }

  .current-task {
    color: darkblue;
  }

    /* Set the body to 100vh */
    body {
      margin: 0; /* Remove default margin */
      overflow: auto; /* Enable scrolling if content overflows viewport */
    }

  /* Add padding to the main content to account for the fixed header */
    main {
      padding-top: 150px; /* Adjust this value as needed based on your header height */
    }

    /* Navigation Bar */
    .navbar {
      background-color: #13213D;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed; /* Fix the header at the top of the page */
      width: 100%; /* Make the header span the full width of the viewport */
      top: 0; /* Place the header at the top of the viewport */
      z-index: 1000; /* Ensure the header is on top of other content */
    }

    .navbar-brand {
      display: flex;
      align-items: center;
    }

    .logo {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    .logo img {
      width: 120px; /* Larger logo size for larger screens */
      height: auto; /* Maintain aspect ratio */
      transition: width 0.3s; /* Logo size transition */
    }

    .navbar-nav {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .navbar-nav .nav-item {
      margin-right: 20px;
    }

    .navbar-toggler {
      display: none;
    }

    /* Style the navigation links */
    .navbar-nav .nav-link {
      color: #FFFFFF;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s, transform 0.3s; /* Link color and transform (hover) transitions */
      border: 1px solid #FFFFFF; /* Add a border around the links */
      padding: 5px 10px; /* Add padding to the links for better clickability */
      border-radius: 5px; /* Rounded corners for the links */
    }

    .navbar-nav .nav-link:hover {
      color: #FFA500; /* Change the color on hover */
      transform: scale(1.1); /* Hover animation - increase size */
    }

    /* Media queries for responsive logo sizes */
    @media (max-width: 1200px) {
      .logo img {
        width: 100px;
      }
    }

